
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Account Page
    </div>
    <%= link_to '<button type="button">Login</button>'.html_safe, log_in_path %>
    <%= link_to '<button type="button">Sign Up</button>'.html_safe, sign_up_path %>
  </div>
</div>
