<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title text-center">
      Contact us
    </div>
    <div class = "row">
        <div class = "col-lg-3"></div>
        <div class = "col-lg-6">
            <div class="section-caption text-center">
                We are ValetBike! We are NOT a group of gay kids taking CSC223 and making a website at all nooooo...
                You can reachout to our contact: <a href="mailto:divadevs@valetbike.com" class="link-regular">divadevs@valetbike.com</a> with any questions or concerns.
            </div>
            <%= image_tag('ghoulia.jpg') %>
        </div>
        <div class = "col-lg-3"></div>
    </div>
  </div>
</div>