<% content_for :head do %>
<% end %> 

<% content_for :content do %>
  <div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
      <div class="section-title">
        ValetBike Home Page
      </div>
    </div>
    <div class="section-caption" >
    <caption>
       This could be you!:
      </caption>
        <%= image_tag('MHBike.png') %>
      </div>

      
  </div>
<% end %>