<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      ValetBike Home Page
    </div>
    <div class="section-caption"
    <caption>
       This could be you!:
      </caption>
        <%= image_tag('MHBike.png') %>
      </div>

      
  </div>
</div>
