<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Pricing Page
    </div> 
    
    <div class="section-caption"
    <caption>
    We at ValetBike offer many different options that range various levels.
    </caption>

    <caption>
    Our Student Plan offers free 30 minutes of ride time a day at the charge
    of $5.99 a month. 
    </caption>

    </div>

  <div class="section-sub-caption"
    <sub-caption>
    Must have vaild studentID from a University or College you are currently attending
    </sub-caption>
  </div>

    <%= image_tag('MHmoney.jpg') %>
  </div>
</div>
