<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title text-center">
      Pricing
    </div> 
    <div class="section-caption text-center">
        We at ValetBike offer many different options that range various levels. 
    </div>
    <div class = "row">
        <div class = "col-lg-6">
            <div class = "step-block medium">
                <h4>Student Plan</h4>
                <p>
                    Free 30 minutes of ride time a day at the charge
                    of $5.99 a month. 
                </p>

                <p>
                    Must have vaild student ID from a University or College you are currently attending.
                </p>
            </div>
        </div>
        <div class = "col-lg-6">
            <div class = "step-block medium">
                <h4>Regular Plan</h4>
                <p>
                    Free 10 minutes of ride time a day at the charge
                    of $15.99 a month. 
                </p>
            </div>
        </div>
    </div>

    <div class = "row mt-5">
        <div class = "col-lg-3"></div>
        <div class = "col-lg-6">
            <%= image_tag('MHmoney.jpg', class: "section-banner") %>
        </div>
        <div class = "col-lg-3"></div>
    </div>
  </div>
</div>
