<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title text-center">
      Thank you for booking
    </div>
    <div class = "row">
        <div class = "col-lg-3"></div>
        <div class = "col-lg-6">
            <div class="section-caption text-center">
                Your trip (ID: <%= @trip.id %>) is confirmed. Navigate to <%= link_to 'your trips dashboard', trips_path %> to manage your trip. 
                We hope you will enjoy the ride.
            </div>
            <%= image_tag('MHEndTrip.png', class: "section-banner") %>
        </div>
        <div class = "col-lg-3"></div>
    </div>
</div>
</div>