<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      thanks for booking!!
      Confirmation
    </div>
  Trip is Confirmed! id:
  <%= @trip.id %>
<!--
  <table summary="Trip  fields">
    <h2>Trip confirmed!</h2>
    <tr>
      <th>Bike ID: </th>
      <td><%##= @bike.identifier %></td>
    </tr>
    <tr>
    <tr>
      <th>User ID:</th>
      <td><%##= @user.id %></td>
    </tr>
    <tr>
    <tr>
      <th>Station:</th>
      <td><%##= @station.identifier %></td>
    </tr>
    <tr>
    <tr>
      <th> Trip ID:</th>
      <td><%##= @trip.id %></td>
    </tr>
    </table>-->
</div>
</div>