<div id="osm-map" data-controller="map">
  <%= content_tag :div, '', id: 'lats', 'data-map-target': 'lats', data: {source: lats} %>
  <%= content_tag :div, '', id: 'longs', 'data-map-target': 'longs', data: {source: longs} %>
  <%= content_tag :div, '', id: 'names', 'data-map-target': 'names', data: {source: names} %>
  <%= content_tag :div, '', id: 'ids', 'data-map-target': 'ids', data: {source: ids} %>
</div>