<% content_for :head do %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
  <script src='javascript/osm_map.js'></script>
<% end %>

<% content_for :content do %>
  <div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
      <div class="section-title">
        Bikes and Stations
      </div>

      <div style='height:400px;' id="osm-map"></div>
    
      <script>
        var element = document.getElementById("osm-map");
        var map = L.map(element);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        var target = L.latLng('42.328674', '-72.664658');
        map.setView(target, 14);
        document.element.map = map;   
      </script>

      <div class="flexbox vertical stretch" id="stations">
        <% if @stations.present? %>
          <%= render(partial: "stations/row", collection: @stations, as: :station) %>
        <% else %>
        <div class="empty">
          No stations found.
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/main" %>
