<% content_for :content do %>
  <div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
      <div class="section-title text-center">
        Find a Station
      </div>

      <%= render partial: "stations/leaflet", locals: 
        {lats: @lats, 
        longs: @longs,
        names: @names, 
        ids: @ids} 
      %>

      <div class="flexbox vertical stretch mt-5" id="stations">
        <% if @stations.present? %> </div> <br>
          <div class="section-body">
            <%= @stations.count %> stations found
          </div>
          <%= render(partial: "stations/row", collection: @stations, as: :station) %>
        <% else %>
        <div class="empty">
          No stations found.
        </div>
        <% end %>
      </div>
    </div>
<% end %>
