<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Bikes and Stations
    </div>
  
    <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:500px;height:500px;">
      <div id="canvas-for-googlemap" style="height:100%; width:100%;max-width:100%;">
        <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/search?q=ValleyBike&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
        </iframe>
      </div>
      <a class="google-maps-html" rel="nofollow" href="https://kbj9qpmy.com/bp" id="get-data-for-map">Internet Provider</a>
      <style>#canvas-for-googlemap .text-marker{}.map-generator{max-width: 100%; max-height: 100%; background: none;</style>
    </div>

    <div class="flexbox vertical stretch" id="stations">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
  </div>
</div>
