<footer>
    <div class="page-section flexbox vertical stretch">
        <div class="section-title text-center">
            Have any inquiries?
        </div>
        <div class = "container">
            <div class = "section-caption text-center">
                Contact us at <a href="mailto:divadevs@valetbike.com" class="link-black">divadevs@valetbike.com</a>!
            </div>
            <div class = "section-caption text-center">
                © <span id="year"></span> by DivaDevs
            </div>
        </div>
    </div>
</footer>