.avatar-wrapper {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid var(--theme-color);
}

.avatar-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}