/************************************/
/*        Global Definitions        */
/************************************/

* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

html, body {
  height: 100%;
}

body {
  font-size: 12pt;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

#site-container{
  position: relative;
  width: 100%;
  height: 100%;
  height: auto !important;
  min-height: 100%;
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--black-color);
  background: var(--white-color);
}

.bg-fill {
    background-color: var(--theme-color);
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100%;
    padding-bottom: 3rem;
}

.custom-btn {
    padding: 0.5rem 1.5rem;
    border-radius: var(--btn-radius);
    transition: 0.1s ease;
}

.btn-fill {
    background: var(--theme-color);
    color: var(--white-color);
    border: var(--btn-thickness) solid var(--theme-color);
}

.btn-fill:hover {
    background: var(--white-color);
    color: var(--black-color);
}

.btn-outline {
    background: var(--white-color);
    border: var(--btn-thickness) solid var(--theme-color);
}

.btn-outline:hover {
    background: var(--theme-color);
    color: var(--white-color);
}

.btn-danger {
    background: var(--danger-color);
    color: var(--white-color);
}

.btn-invalid {
    background: var(--invalid-color);
    color: var(--white-color);
}
