.navbar {
    margin: 3em auto;
    width: 85%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: var(--widget-radius);
}

ul.header {
    list-style: none;
    padding: 1rem 2rem;
    margin: 0;
    display: flex;
    align-items: center;
   justify-content: space-between;
    width: 100%;
}

ul.header li {
    display: block;
}

.navbar li a {
    text-decoration: none;
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 1.05rem;
    color: var(--black-color);
    transition: 0.2s ease-in-out;
}

.navbar li a:hover {
    color: var(--theme-color);
}

.navbar.navbar-mobile {
    display: none;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    width: 100%;
    margin: 0;
    padding: 1em;
}

/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:868px) {
    .navbar.navbar-desktop {
      display: none;
    }

    .navbar.navbar-mobile {
      display: block;
    }  

    .navbar.navbar-mobile .show.collapse {
        visibility: visible;
    }
}