/************************************/
/*       Universal Page Style       */
/************************************/

.page-section {
  max-width: 80em;
  width: 100%;
  margin-top: 10em;
}

.page-section .section-inner {
  margin-right: 1.4em;
  margin-left: 1.4em;
}

.page-section .section-title {
  font-family: var(--title-font);
  font-weight: 300;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.page-section .section-caption {
    font-family: var(--body-font);
    font-weight: 200;
    font-size: 1.2em;
    overflow-wrap: break-word;
    margin-bottom: 1em;
}

.page-section .section-banner {
    max-height: 300px;
    margin: auto;
}

.step-block {
    margin: 1rem;
    padding: 1rem;
    display: block;
    position: relative;
    border: 1px solid var(--light-black-color);
    border-radius: var(--widget-radius);
    background-color: var(--white-color);
}

.step-block.small {
    height: 180px;
}

.step-block.medium {
    height: 300px;
    padding: 2rem;
}

.step-block::before {
    content: '';
    opacity: 0;
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 100%;
    height: 100%;
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    border-radius: var(--widget-radius);
    z-index: -1;
}

.step-block:hover {
    transition: all 0.2s ease-in;
    background-color: var(--theme-color);
}

.step-block h4 {
    font-family: var(--title-font);
    text-align: center;
    margin-bottom: 2rem;
}

.step-block p {
    text-align: center;
}

.step-block .svg-icon {
    width: auto;
    height: 3em;
    margin: 1em auto;
}

.leaflet-popup-content {
    font-family: var(--body-font) !important;
    font-weight: 200 !important;
}

.leaflet-popup-content .title {
    font-size: 1rem !important;
    color: var(--theme-color) !important;
}

.leaflet-popup-content .body {
    font-weight: 100 !important;
    font-size: 1em !important;
}

.record-row {
  padding: 2em 1.25em;
  font-size: 0.85em;
  border-bottom: 1px solid var(--gray-color);
}


.record-row .record-name {
    font-family: var(--title-font);
    font-size: 1rem;
    margin-bottom: 0.8rem;
    color: var(--theme-color);
}

/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:48em) {
  .page-section {
    margin-top: 12em;
  }

  .page-section .section-title {
    font-size: 1.9em;
    margin-bottom: .6em;
  }

}
